a {
    text-decoration: none;
    color: #901C1C;
}

#contact_modal {
    display: none;
}


.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographer_profile {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#photographer_name {
    width: 449px;
    color: black;
    font-family: DM Sans, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photographer_location {
    color: #901C1C;
    font-family: DM Sans, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photographer_tagline {
    color: #525252;
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photographer_img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    margin: 20px 50px 0 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 45%;
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    position: absolute;
    top: 32px;
    left: calc(50% - 335px);
    overflow: auto;
}

#error_message {
    color: #901C1C;
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.media_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.media_likes_container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 20%;
}

.media_likes {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.media_hearts {
    width: 21px;
    height: 24px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: unset;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 599px;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#message {
    height: 170px;
    width: 600px;
}

/* Style the container */
.sort_button {
    margin-left: 25px;
    width: 170px;
    height: 69px;
    border-radius: 5px;
    background: #901C1C;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Style the span */
.sort_button span {
    display: flex;
    align-items: center;
    height: 100%;
    color: #FFF;
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 20px;
}

/* Style the options */
.sort_button .options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #901C1C;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Style the buttons */
.sort_button .options button {
    background: none;
    border: none;
    padding: 5px 20px;
    width: 100%;
    text-align: left;
    color: #FFF;
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sort_button .options button:last-child {
    border-bottom: none;
}


/* Hide the selected option from the dropdown */
.sort_button .options button[aria-selected="true"] {
    display: none;
}

.tri {
    margin: 10px 100px;
}

.media_gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 95px;
    margin: 0 100px;
}

.media_img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.media_title {
    color: #901C1C;
    font-family: DM Sans, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.media_video {

    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

#submit_button {
    position: relative;
    left: 0;

}

.modalGallery {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

object {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.modal_video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.object_container {
    width: 1050px;
    height: 700px;
    border-radius: 5px;
}

.object_div {
    display: flex;
    flex-direction: column;
}

.modal_prev, .modal_next {
    position: absolute;
}

.modal_prev {
    left: 230px;
}

.modal_next {
    right: 230px;
}

.modal_close {
    position: absolute;
    top: 0;
    right: 15rem;
    font-size: 50px;
    cursor: pointer;
}

.modal_title {
    color: #901C1C;
    font-family: DM Sans, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;
}

.price_like {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 376px;
    height: 89px;
    bottom: 0;
    right: 0;
    margin: 0 36px 0 0;
    border-radius: 5px 5px 0 0;
    background: #DB8876;
    font-family: DM Sans, sans-serif;
}

.likes {
    color: #000;
    text-align: right;
    font-family: DM Sans, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.price_div {
    color: #000;
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.likes_div {
    color: #000;
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;

}

.price {
    color: #000;
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
